{% extends 'main.html' %}
{% block agregar_usuarios %}

	


	<div class="enviar_mensaje" >
		<h1>{{tipo}}</h1>
		<h3> {{aviso}} </h3>
		<form id="form_agregar_usuario" method='POST' action='agregar_usuario'> {% csrf_token %}

				{{formulario.nombre}}
			<p></p>
				{{formulario.telefono}}
			<p></p>
				{{formulario.email}}
			<p></p>
				{{formulario.grupo_asociado}}
			<p></p>

			<button for="form_agregar_usuario" type="submit"> Agregar usuario </button>
		</form>
	</div>	




{% endblock %} 