{% extends 'main.html' %}
{% block buzon %}

<script type="text/javascript">
	


	document.getElementById("boton_enviar_mensaje").disabled = true;
	console.log(">>>>");
</script>

<div class="pagination">
    <span class="step-links">
        {% if buzon.has_previous %}
            <a href="?page={{ buzon.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ buzon.number }} of {{ buzon.paginator.num_pages }}.
        </span>

        {% if buzon.has_next %}
            <a href="?page={{ buzon.next_page_number }}">next</a>
        {% endif %}
    </span>
</div> <!-- div pagination --> 

	

	<div class="tabla">	
		
			<div  class="titulo" name='{{contenido.id}}'>
				<h1> {{tipo}} </h1>
			</div>	
			
			<div  class="columna_agenda" style="display: table-row ;" id='{{contenido.id}}' >   
				


				<div class="div_tabla_z" > 
				<input type="checkbox"  id="id_seleccionarTodo" name="_terp_list"  onclick="new SeleccionarTodo();" >

				</div>


				<div  class="div_tabla_a" name='{{contenido.id}}'> Nombre   </div>
				<div  class="div_tabla_b" name='{{contenido.id}}'> Numero de Telefono</div>
				<div  class="div_tabla_c" name='{{contenido.id}}'> Contenido del Mensaje</div>
				{% if modelo == "buzon_enviados" %}
					<div  class="div_tabla_d" name='{{contenido.id}}'> Usuario Envia </div>
				{% endif %}

				{% if modelo == "buzon_pendientes" %}
					<div  class="div_tabla_d" name='{{contenido.id}}'> Mensaje Asignado </div>
				{% endif %}

			</div>

			

			{% for contenido in buzon %}
				<div  class="columna_agenda" style="display: table-row ;" id='{{contenido.id}}' >   
				
				<div class="div_tabla_z" > 
					<input type="checkbox"  name="boton_check" value='{{contenido.id}}' onclick="new marcarSeleccionado('{{contenido.id}}');">

				</div>

				<div  class="div_tabla_a" name='{{contenido.id}}'> {{contenido.nombre_persona}}  </div>
				<div  class="div_tabla_b" name='{{contenido.id}}'> {{contenido.numero_telefono}}</div>
				<div  class="div_tabla_c" name='{{contenido.id}}'> {{contenido.contenido_mensaje}}</div>

				{% if modelo == "buzon_enviados" %}
					<div  class="div_tabla_d" name='{{contenido.id}}'> {{contenido.usuario_envia}}</div>
				{% endif %}
				
				{% if modelo == "buzon_pendientes" %}
					<div  class="div_tabla_d" name='{{contenido.id}}'> {{contenido.asignado}}</div>
				{% endif %}

				</div>
			{% endfor %}




	</div>

<div class="pagination">
    <span class="step-links">
        {% if buzon.has_previous %}
            <a href="?page={{ buzon.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ buzon.number }} of {{ buzon.paginator.num_pages }}.
        </span>

        {% if buzon.has_next %}
            <a href="?page={{ buzon.next_page_number }}">next</a>
        {% endif %}
    </span>
</div> <!-- div pagination --> 

<input name="modelo" value="{{modelo}}" type="hidden">


<script type="text/javascript">
	document.getElementById("boton_enviar_mensaje").disabled=true;
	console.log(">>>>");
</script>

{% endblock %}	

