{% extends 'main.html' %}
{% block buzon %}

<div class="pagination">
    <span class="step-links">
        {% if buzon.has_previous %}
            <a href="?page={{ buzon.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ buzon.number }} of {{ buzon.paginator.num_pages }}.
        </span>

        {% if buzon.has_next %}
            <a href="?page={{ buzon.next_page_number }}">next</a>
        {% endif %}
    </span>
</div> <!-- div pagination --> 

	
<div class="tabla_2">	
		<div  class="titulo" name='{{contenido.id}}'>
			<h1> {{tipo}} </h1>
		</div>	
</div>
	<div class="tabla">	
		


		<div  class="columna_agenda" style="display: table-row ;" id='{{contenido.id}}' >   
			


			<div class="div_tabla_z" > 
			<input type="checkbox"  id="id_seleccionarTodo" name="_terp_list"  onclick="new SeleccionarTodo();" >

			</div>


			<div  class="div_tabla_a" name='{{contenido.id}}'> Nombre   </div>
			<div  class="div_tabla_b" name='{{contenido.id}}'> Numero de Telefono</div>
			<div  class="div_tabla_c" name='{{contenido.id}}'> Contenido del Mensaje</div>

		</div>

		{% for contenido in buzon %}
			<div  class="columna_agenda" style="display: table-row ;" id='{{contenido.id}}' >   
			
			<div class="div_tabla_z" > 
				<input type="checkbox"  name="boton_check" value='{{contenido.id}}' onclick="new marcarSeleccionado('{{contenido.id}}');">

			</div>

			<div  class="div_tabla_a" name='{{contenido.id}}'> {{contenido.nombre_persona}}  </div>
			<div  class="div_tabla_b" name='{{contenido.id}}'> {{contenido.numero_telefono}}</div>
			<div  class="div_tabla_c" name='{{contenido.id}}'> {{contenido.contenido_mensaje}}</div>
			</div>
		{% endfor %}




	</div>

<div class="pagination">
    <span class="step-links">
        {% if buzon.has_previous %}
            <a href="?page={{ buzon.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ buzon.number }} of {{ buzon.paginator.num_pages }}.
        </span>

        {% if buzon.has_next %}
            <a href="?page={{ buzon.next_page_number }}">next</a>
        {% endif %}
    </span>
</div> <!-- div pagination --> 


{% endblock %}	

