{% extends 'main.html' %}
{% block enviar_mensaje %}





	<div class="enviar_mensaje" id="enviar_mensaje">

		<h1> {{tipo}} </h1>

		<div id="formulario_enviar_mensaje"> 

			<form id="form_form" method='POST' action='enviar_mensaje_procesar/' >{% csrf_token %}
				<p></p>	
			 	
			 	<div id="destinatarios">
					<label for="destinatarios" id="id_destinatarios_123" desactivated>  Destinatarios </label>

					{{formulario.destinatarios}}
				 </div> 
				<p></p>	

				{{formulario.mensaje}} 	

				<div id="count"> </div>	
				<div id="count_des"> </div>	


				<p></p>
				<p><input for="form_form" type='submit' value='Enviar Mensaje'>
				</p>	


				{% for i, d in destinatarios.items %}


					<div class="casilla_informacion_usuario_mayor" id="{{d.id}}" name="{{d.id}}">
						<span class="casilla_informacion_usuario" email="{{d.telefono}}">
							<div class="informacion_usuario" title="{{d.nombre}}" ondblclick="editar_usuario(this);" id="{{d.id}}_informacion" >{{d.telefono}}</div>
							<div class="equis_del_contacto" onclick="eliminar_destinatario({{d.id}});"></div>
						</span>
						<input name="destinatario" value="{{d.id}}" type="hidden">
					</div>


				{% endfor %}
			</form>


		</div>




	</div>


<script>

var maxchar = 0;
var i = document.getElementById("id_mensaje");
var c = document.getElementById("count");
var destino = document.getElementById("id_destinatarios");
var d = "";

c.innerHTML = maxchar;
i.addEventListener("keydown",count);
destino.addEventListener("input",agregar_destinatario);


console.log(">>>> "+destino)

console.log(">>>> "+i)

function count(e){
    var len =  i.value.length;
       c.innerHTML = len;  
}

function eliminar_destinatario(id_destinatario){
		console.log(">>>> " + id_destinatario)
	  var enviar_mensaje = document.getElementById("form_form");

      var elemento = document.getElementById(id_destinatario);

      var eliminar = enviar_mensaje.removeChild(elemento);    //Test Case 2: the method throws the exception (2)


}

function agregar_destinatario(){
	console.log(destino.value + "<<<<<<");

		if  (destino.value.indexOf(",") >= 0 ){
			console.log("NUEVO Destinatario");

			var destino_limpio =  destino.value.replace(",","")

			var casilla_informacion_usuario_mayor = document.createElement("div");                 
				casilla_informacion_usuario_mayor.className = "casilla_informacion_usuario_mayor"
				casilla_informacion_usuario_mayor.id = destino_limpio
				casilla_informacion_usuario_mayor.setAttribute("name", destino_limpio)

			var casilla_informacion_usuario = document.createElement("span");
				casilla_informacion_usuario.className = "casilla_informacion_usuario"
				casilla_informacion_usuario.id=destino_limpio +"_informacion_casilla"


			var informacion_usuario = document.createElement("div");
				informacion_usuario.className = "informacion_usuario"
				informacion_usuario.id = destino_limpio +"_informacion"
				informacion_usuario.innerHTML = destino_limpio 
				informacion_usuario.title="Usuario Agregado desde la WEB"
				
				informacion_usuario.ondblclick = function () 
					{

						var element = document.getElementById(this.id).parentNode.parentNode;
						element.outerHTML = "";
						delete element;

				};




			var equis_del_contacto = document.createElement("div");                 
				equis_del_contacto.className = "equis_del_contacto"
				
				equis_del_contacto.onclick = function () 
					{
					
					var element = document.getElementById(destino_limpio);
					element.outerHTML = "";
					delete element;
				};

				equis_del_contacto.id = destino_limpio +"_equis"

			var input = document.createElement("input");
				input.type="hidden"
				input.value=destino_limpio
				input.name="destinatario"


			enviar_mensaje = document.getElementById("form_form")

			document.getElementById("form_form").appendChild(casilla_informacion_usuario_mayor);

			document.getElementById(destino_limpio).appendChild(casilla_informacion_usuario);

			document.getElementById(destino_limpio +"_informacion_casilla").appendChild(informacion_usuario);

			document.getElementById(destino_limpio +"_informacion_casilla").appendChild(equis_del_contacto);

			document.getElementById(destino_limpio).appendChild(input);


			destino.value = "";

		}
}

function editar_usuario(elemento){
	console.log(" >>>  " +elemento+" <<<< ");
	console.log(" >>>  " +elemento.id+" <<<< ");
	console.log(" >>>  " +elemento.innerHTML+" <<<< ");

	console.log(" >>>  " +elemento.className+" <<<< ");

	document.getElementById("id_destinatarios").value=elemento.innerHTML
	var element = document.getElementById(elemento.id).parentNode.parentNode;
	element.outerHTML = "";
	delete element;


}
</script>

{% endblock %}