{% extends 'main.html' %}
{% block agregar_usuarios %}

	

		<div class="enviar_mensaje" >
			<h1>{{tipo}}</h1>
			<h3> {{aviso}} </h3>
			<form id="Form_grupo" method='POST' action='grupos'> {% csrf_token %}

					{{formulario.nombre_grupo}}
				

				<input name="metodo" value="{{metodo}}" type="hidden">
		
				{% if metodo == "nuevo" %}

					<button form="Form_grupo" type="submit"> Agregar Usuario </button>

				{% else %}
					<button form="Form_grupo" type="submit"> Guardar Cambios </button>

				{% endif %}
			</form>


			<div id="mostrar_grupos">
				{% for contenido in documento %}

					<a href='{% url 'han.han_app.views.grupo_usuario' id_grupo=contenido.id %}' >{{contenido.nombre_grupo}}</a>
					<p></p>

				{% endfor %}
			</div>
		</div>	
	





<script type="text/javascript">
	document.getElementById("boton_eliminar_registros").disabled=true;
	console.log(">>>>");
</script>

{% endblock %} 