{% extends 'main.html' %}
{% block agregar_usuarios %}

<div>
	
	<h1> 
		Informacion: Quienes somos

	</h1>
<h2>
(Copia y pega)
hanMovil nace para brindar soluciones tecnológicas de comunicaciones en forma Móvil, Masiva, Automática Y Programada a aquellas Empresas, Instituciones u Organismos que deseen expandir, incrementar y potenciar el alcance de sus productos y servicios a todos sus clientes y contactos. 

.....

Conociendo que el Mundo de hoy se fundamenta en las Comunicaciones, queremos poner a su alcance una novedosa e inteligente manera de llegar a sus clientes, asociados y todas aquellas personas que de una u otra forma tienen relaciones con su Empresa.
</h2>
		
		<h1>
		<p></p>

		Informacion: Que Ofrecemos
		<p></p>

		Informacion: Como Trabajamos
		<p></p>

		Informacion: Planes y Servicios
		<p></p>



	</h1>

</div>	
{% endblock %} 



